<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Synergy</title>
    <meta name="description" content="Google Cloud Speech Recognition with Node and Socket.io">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

    <div class="wrapper">
        <img id="Logo" src="https://shreyjoshi.com/resources/project-thumbnails/logo.jpg">

        <!-- <h1 class="text-3xl bg-red-400">Synergy</h1> -->

        <audio></audio>

        <br>
        <div class="buttons">
            <button id="startRecButton" class="button">Start</button>
            <button id="stopRecButton" class="button"> Stop recording</button>
            <div id="recordingStatus" class="pulse-animation">&nbsp;</div>
        </div>
        <br>

        <div>
            <p id="ResultText">
                <span class="greyText">Welcome to Synergy! Ask me anything about your shopping needs.
                    <span>
            </p>
        </div>

        <br>
        <br>
    </div>

    <!-- Nlp -->
    <script src="https://unpkg.com/compromise@11.14.3/builds/compromise.min.js"></script>

    <!-- Socket -->
    <script src="assets/js/socket.io.js"></script>

    <!-- Client -->
    <script src="assets/js/client.js"></script>
</body>

</html>