@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
    background-color: #ecf0f3;
}

p {
    color: black;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #2a2a2a;
}

a:visited {
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}

audio {
    width: 300px;
    height: auto;
    background-color: red;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.greyText {
    opacity: 0.4;
}

@-webkit-keyframes redGlow {
  from {
    background-color: #8c190a;
    -webkit-box-shadow: 0 0 9px #9c291a;
  }
  50% {
    background-color: #9c291a;
    -webkit-box-shadow: 0 0 18px #bdb5b4;
  }
  to {
    background-color: #8c190a;
    -webkit-box-shadow: 0 0 9px #9c291a;
  }
}
#recordingStatus {
  display: flex;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  margin-top: 10px;
  visibility: hidden;
  -webkit-animation-name: redGlow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}


.description {
    font-size: 18px;
    margin: 20px 0;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.button {
    background-color: #d0bdbd;
    color: #aa5656;
    border: 1px solid #aa5656;
    border-radius: 10%;
    width: 50px;    
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-right: 10px;
}

#stopRecButton {
    width: auto
}

.button:hover {
    scale: 110%;
}

.mic-icon::before {
    content: "\f130"; /* Microphone icon or any other icon you prefer */
    font-family: FontAwesome; /* Assuming you're using FontAwesome for icons */
}

.pulse-animation {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

#Logo {
    display:inline;
    position: relative;
    /* margin-left: 50vw;
    margin-top: 15px; */
    
}

#sessionSpeechData {
    width: 80vw;
}

#sessionSpeechData span {
    display: inline-block;
    margin-top: 10px;
}

.nl-Adjective {
    background-color: #1ada47;
    padding: 3px;
    border-radius: 5px;
}

.nl-Noun {
    background-color: #151ffa;
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.nl-Verb {
    background-color: #ff1616;
    padding: 3px;
    border-radius: 5px;
}


.hiddenForms {
    opacity: 0.2;
}

h1 {
    color: black;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

/*==========  Non-Mobile First Method  ==========*/

/*Above */

@media only screen and (min-width: 1201px) {}

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
